<div class = "question">
  <h1><%= question.title %></h1>
  <p><%= question.text %></p>
  <p><a href='/questions/<%= question.id %>/edit'>Edit this question</a></p>
  <p><a href='/answers/new/question/<%= question.id %>'>Answer this question</a></p>
  <p><a href='/comments/new/question/<%= question.id %>'>Comment on this question</a></p>
</div>


