<div class='row text-center main-page col-md-12'>
  <div class='col-md-4'>
    <i class='glyphicon glyphicon-plus'></i>
    <h3>Increase your skillz.</h3>
    <p>Answer questions to help out a beginner who has NO idea what they're doing.</p>
  </div>

  <div class='col-md-4'>
    <i class='glyphicon glyphicon-random'></i>
    <h3>Network!</h3>
    <p>Collaborate with fellow developers, and form a community of like-minded nerds who do nothing but code!</p>
  </div>

  <div class='col-md-4'>
    <i class='glyphicon glyphicon-send'></i>
    <h3>Have a question?</h3>
    <p>Send a question out into the community, get awesome answers from people who just started learning programming!</p>
  </div>
</div>

<div class='row col-md-12'>
  <div class ="question row col-md-12">
    <h1><%= question.title %></h1>
    <div class='vote-with-arrows col-md-1'>
      <i class='glyphicon glyphicon-triangle-top'></i>
      <br>
        <span class='center-shit-number'>0</span>
      <br>
      <i class='glyphicon glyphicon-triangle-bottom'></i>
    </div>
    <div class='question-info col-md-4'>
      <p><%= question.text %></p>
    </div>
  </div>
</div>

<div class='user-actions row col-md-12'>
  <div class='edit-question'>
    <p><a href='/questions/<%= question.id %>/edit'>Edit this question</a></p>
  </div>
  <div class='answer-question'>
    <p><a href='/answers/new/question/<%= question.id %>'>Answer this question</a></p>
  </div>
  <div class='comment-question'>
    <p><a href='/comments/new/question/<%= question.id %>'>Comment on this question</a></p>
  </div>
</div>


