<div class='row text-center main-page col-md-12'>
  <div class='col-md-4'>
    <i class='glyphicon glyphicon-plus'></i>
    <h3>Increase your skillz.</h3>
    <p>Answer questions to help out a beginner who has NO idea what they're doing.</p>
  </div>

  <div class='col-md-4'>
    <i class='glyphicon glyphicon-random'></i>
    <h3>Network!</h3>
    <p>Collaborate with fellow developers, and form a community of like-minded nerds who do nothing but code!</p>
  </div>

  <div class='col-md-4'>
    <i class='glyphicon glyphicon-send'></i>
    <h3>Have a question?</h3>
    <p>Send a question out into the community, get awesome answers from people who just started learning programming!</p>
  </div>
</div>

<div class='row col-md-11'>
  <div class ="question row col-md-12">
    <h1 id='question-title'><%= @question.title %></h1>
    <div class='vote-with-arrows col-md-1'>
    <form action='/votes' method="POST">
        <input type ="hidden" name="votable_id" value="<%= @question.id %>">
        <input type="hidden" name="votable_type" value="Question">
        <input type="hidden" name="approval" value="true">
        <input type="image" name="submit" src="/up-arrow.png" width='20' height='20' alt="upvote button">
      </form>
        <span class='center-shit-number'><%= question.vote_value %></span>
      <form action='/votes' method="POST">
        <input type ="hidden" name="votable_id" value="<%= @question.id %>">
        <input type="hidden" name="votable_type" value="Question">
        <input type="hidden" name="approval" value="false">
        <input type="image" name="submit" src="/down-arrow.png" width='20' height='20' alt="downvote button">
      </form>
    </div>

    <div class='question-info col-md-4'>
      <p><%= @question.text %></p>
    </div>
  </div>
</div>

<div class='user-actions row col-md-12'>
  <p><a href='/questions/<%= @question.id %>/edit'>Edit this question</a></p>
  <p><a href='/answers/new/question/<%= @question.id %>'>Answer this question</a></p>
  <p><a href='/comments/new/question/<%= @question.id %>'>Comment on this question</a></p>
  <div class='edit-question'>
    <p><a href='/questions/<%= @question.id %>/edit'>Edit this question</a></p>
  </div>
  <div class='answer-question'>
    <p><a href='/answers/new/question/<%= @question.id %>'>Answer this question</a></p>
  </div>
  <div class='comment-question'>
    <p><a href='/comments/new/question/<%= @question.id %>'>Comment on this question</a></p>
  </div>

</div>


