
<div class = "entire-answer row col-md-12">

  <div class='vote-with-arrows col-md-1'>
    <form action='/votes' method="POST">
      <input type ="hidden" name="votable_id" value="<%= answer.id %>">
      <input type="hidden" name="votable_type" value="Answer">
      <input type="hidden" name="approval" value="true">
      <input type="image" name="submit" src="/up-arrow.png" width='20' height='20' alt="upvote button">
    </form>
      <span class='center-shit-number'><%= answer.vote_value %></span>
    <form action='/votes' method="POST">
      <input type ="hidden" name="votable_id" value="<%= answer.id %>">
      <input type="hidden" name="votable_type" value="Answer">
      <input type="hidden" name="approval" value="false">
      <input type="image" name="submit" src="/down-arrow.png" width='20' height='20' alt="downvote button">
    </form>
  </div>

  <div class='answer-text-actions'>
    <div class='answer-text col-md-7'>
      <p><%= answer.text %></p>
    </div>
    <div class='answer-actions col-md-4'>
      <p><a href='/answers/<%= answer.id %>/edit'>Edit this answer</a></p>
      <p><a href='/comments/new/answer/<%= answer.id %>'>Comment on this answer</a></p>
    </div>
  </div>

</div>

<div class='row col-md-12'>
  <div class="comment_list for_answer">
    <ul>
      <% answer.comments.each do |comment| %>
        <%= erb :'comment/_show', :locals => { :comment => comment } %>
      <% end %>
    <ul>
  </div>
</div>
