<div class = "answer">
  <p><%= answer.vote_value %></p>
  <p><%= answer.text %></p>
  <p><a href='/answers/<%= answer.id %>/edit'>Edit this answer</a></p>
  <p><a href='/comments/new/answer/<%= answer.id %>'>Comment on this answer</a></p>
</div>

<div class="comment_list for_answer">
  <ul>
    <% answer.comments.each do |comment| %>
      <%= erb :'comment/_show', :locals => { :comment => comment } %>
    <% end %>
  <ul>
</div>
